/* 
Global Styles
Thomas Boxall <contact@thomasboxall.net> (github.com/thomasboxall)
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html{
    background-color: #121212;
    color: #ffffff;
    --theme-color: #BB86FC;
    font-family: 'Noto Sans', sans-serif;
}

body{
    margin: 0;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: var(--theme-color);
    margin: 0;
    height: 1.5em;
    text-align: center;    
    font-size: small;
}

footer p{
    margin: 0;
}

a{
    color: #ffffff;
}

.accent{
    color: var(--theme-color)
}

blockquote{
    padding:10px 40px 10px 15px;
    margin: 0px;
    border-left: 4px solid var(--theme-color);
}

blockquote cite{
    color: grey;
    font-size: small;
}

main{
    width: 60%;
    margin: 0px auto;
    padding-bottom: 2em;
}

details summary{
    font-weight:500;
    
}

details[open] section{
    border-left: 2px dashed var(--theme-color);
    padding-left: 0.5em;
}

details{
    margin-bottom: 1em;
}

p {
    margin-top: 8px;
}

table{
    border-spacing: 0.5em 0.25em;
    width: 100%;
}

table th{
    background-color: var(--theme-color);
}

table td{
    border-bottom: 1px solid white;
}

table td, table th{
    padding: 1em;
}

@media (orientation: portrait) {
    main {
      width: 90%; 
    }
    footer{
        font-size:medium;
    }
}