/* 
Multi-Page Static Site CSS
Thomas Boxall <contact@thomasboxall.net> (github.com/thomasboxall)
*/

@import 'global-styles.css';

header{
    background-color: var(--theme-color);
    padding-left: 10%;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    border-bottom: #413F42 6px solid;
    margin-bottom: 0.75em;
}

h1{
    margin: 0px;
}

h2{
    border-bottom: var(--theme-color) 2px solid;
}

h3{
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--theme-color);
    text-underline-offset: 6px;
}

.path{
    margin: 0px;
    font-size:small;
}

.btn{
    padding: 0.5em;
    background-color: var(--theme-color);
}

.btn:hover{
    background-color: white;
    color: var(--theme-color);
}