/* 
Multi-Page Static Site CSS
Thomas Boxall <contact@thomasboxall.net> (github.com/thomasboxall)
*/

@import 'global-styles.css';

header{
    background-color: var(--theme-color);
    padding-left: 10%;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    border-bottom: #413F42 6px solid;
}

h1{
    margin: 0px;
}

h2{
    border-bottom: var(--theme-color) 2px solid;
}

.tagline{
    margin: 0px;
}